body { 
    background-color: #f8f8f8;
}
    header {
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
        
    }
        header > img{
            display: inline-block;
            float: left;
        }
        nav{
            display: inline-block;
            float: right;
        
        }
            a{
                display: inline-block;
                text-decoration: none;
                padding: 7px;
                color: #C7C7C7;
                font-family: monospace;
                
            }
            a:last-of-type {
                display: inline-block;
                border: 3px solid #BBBBBB;
                border-radius: 20px;
                padding: 2px;
                padding-left: 15px;
                padding-right: 15px;
            }
    main {
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
        
        }
        div{
            display: inline-block;
            width: 40%;
            float: left;
            margin-top: 100px;
            margin-right: 10%;
            color: #C7C7C7;
        }
            h1{
                display: inline-block;
                font-size: 80px;
                margin: 0px 50px 10px 100px;
                font-family: monospace;
            }
            p{
                display: inline-block;
                font-size: 23px;
                margin: 0px 50px 10px 100px;
            }
        main > img{
            display: inline-block;
            width: 50%;
            float: left;
        }
